body{
  font-family: "Montserrat", sans-serif !important;
}


.navigation_bar ul li a{
    text-transform: capitalized;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.carousel-caption h5{
    color: #000;
    text-transform: uppercase;
}

.carousel-caption p{
    color: #000;
    text-transform: capitalize;
}
#banner_item .icon i{
    font-size: 25px;
}

#banner_item {
    background-color: #f7f7f7;
}
#about_us {
    background-image: linear-gradient(rgba(182, 177, 177, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/bg-14.jpg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#promotion{
    background-image:
        url("../images/bg-15.jpg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#promotion .promotion-content{
    background-color: #fff;
}


.promotion-text h3{
    text-transform: uppercase;
}
.offer-wrapper h3{
    text-transform: uppercase;
}

.section-image-one{
    background-image: url(../images/block-5.jpg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.section-image-two{
    background-image: url(../images/block-4.jpg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.icon i{
    font-size: 25px;
}
